## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# Import API key
from config import g_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)
# Import the datetime module from the datetime library.
from datetime import datetime

In [23]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lago Da Pedra,BR,-4.3333,-45.1667,74.89,94,95,3.58,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,80.20,67,1,9.22,clear sky
2,2,Russell,US,32.3502,-85.1999,60.80,63,90,9.22,overcast clouds
3,3,Atuona,PF,-9.8000,-139.0333,78.21,78,9,13.11,clear sky
4,4,Cape Town,ZA,-33.9258,18.4232,66.99,59,0,6.91,clear sky

In [24]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [25]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lago Da Pedra,BR,-4.3333,-45.1667,74.89,94,95,3.58,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,80.20,67,1,9.22,clear sky
3,3,Atuona,PF,-9.8000,-139.0333,78.21,78,9,13.11,clear sky
9,9,Antsohihy,MG,-14.8796,47.9875,74.66,94,79,2.55,moderate rain
13,13,Puerto Ayora,EC,-0.7393,-90.3518,84.20,65,20,13.80,light rain
14,14,Ahipara,NZ,-35.1667,173.1667,72.82,73,34,9.40,scattered clouds
18,18,Harper,LR,4.3750,-7.7169,78.55,87,0,8.70,clear sky
19,19,Brazzaville,CG,-4.2658,15.2832,80.60,78,20,4.61,few clouds
29,29,Izazi,TZ,-7.2000,35.7333,71.28,73,100,2.21,overcast clouds
31,31,Bodden Town,KY,19.2833,-81.2500,82.40,74,40,13.80,scattered clouds

In [26]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                240
City                   240
Country                237
Lat                    240
Lng                    240
Max Temp               240
Humidity               240
Cloudiness             240
Wind Speed             240
Current Description    240
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lago Da Pedra,BR,-4.3333,-45.1667,74.89,94,95,3.58,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,80.20,67,1,9.22,clear sky
3,3,Atuona,PF,-9.8000,-139.0333,78.21,78,9,13.11,clear sky
9,9,Antsohihy,MG,-14.8796,47.9875,74.66,94,79,2.55,moderate rain
13,13,Puerto Ayora,EC,-0.7393,-90.3518,84.20,65,20,13.80,light rain
...,...,...,...,...,...,...,...,...,...,...
664,664,Santa Cruz,BO,-17.8000,-63.1667,82.40,69,40,17.27,scattered clouds
666,666,Port Hedland,AU,-20.3167,118.5667,80.60,57,61,10.36,broken clouds
668,668,Malpe,IN,13.3500,74.7167,75.20,94,20,3.44,fog
672,672,Gawler,AU,-34.6000,138.7333,84.99,36,97,8.01,light rain
673,673,Bandarbeyla,SO,9.4942,50.8122,74.23,72,98,19.95,overcast clouds

In [28]:
preferred_cities_df.count()

City_ID                237
City                   237
Country                237
Lat                    237
Lng                    237
Max Temp               237
Humidity               237
Cloudiness             237
Wind Speed             237
Current Description    237
dtype: int64

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lago Da Pedra,BR,74.89,overcast clouds,-4.3333,-45.1667,
1,Rikitea,PF,80.20,clear sky,-23.1203,-134.9692,
3,Atuona,PF,78.21,clear sky,-9.8000,-139.0333,
9,Antsohihy,MG,74.66,moderate rain,-14.8796,47.9875,
13,Puerto Ayora,EC,84.20,light rain,-0.7393,-90.3518,
14,Ahipara,NZ,72.82,scattered clouds,-35.1667,173.1667,
18,Harper,LR,78.55,clear sky,4.3750,-7.7169,
19,Brazzaville,CG,80.60,few clouds,-4.2658,15.2832,
29,Izazi,TZ,71.28,overcast clouds,-7.2000,35.7333,
31,Bodden Town,KY,82.40,scattered clouds,19.2833,-81.2500,

In [30]:
#6a. Set parameters to search for hotels with 5000 meters.
params = {
   "radius": 5000,
   "type": "lodging",
   "key": g_key
}
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
   # 6c. Get latitude and longitude from DataFrame
   lat = row["Lat"]
   lng = row["Lng"]
   params["location"] = f"{lat},{lng}"
   # 6d. Set up the base URL for the Google Directions API to get JSON data.
   base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   # 6e. Make request and retrieve the JSON data from the search.
   hotels = requests.get(base_url, params=params).json()
   # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
   try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
   except (KeyError, IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lago Da Pedra,BR,74.89,overcast clouds,-4.3333,-45.1667,
1,Rikitea,PF,80.20,clear sky,-23.1203,-134.9692,Pension Maro'i
3,Atuona,PF,78.21,clear sky,-9.8000,-139.0333,Villa Enata
9,Antsohihy,MG,74.66,moderate rain,-14.8796,47.9875,Hotel de Ville
13,Puerto Ayora,EC,84.20,light rain,-0.7393,-90.3518,Castillo Galapagos

In [32]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop(hotel_df[hotel_df["Hotel Name"] == ""].index)
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,80.20,clear sky,-23.1203,-134.9692,Pension Maro'i
3,Atuona,PF,78.21,clear sky,-9.8000,-139.0333,Villa Enata
9,Antsohihy,MG,74.66,moderate rain,-14.8796,47.9875,Hotel de Ville
13,Puerto Ayora,EC,84.20,light rain,-0.7393,-90.3518,Castillo Galapagos
14,Ahipara,NZ,72.82,scattered clouds,-35.1667,173.1667,Ahipara Holiday Park
...,...,...,...,...,...,...,...
664,Santa Cruz,BO,82.40,scattered clouds,-17.8000,-63.1667,Hotel Cortez
666,Port Hedland,AU,80.60,broken clouds,-20.3167,118.5667,The Esplanade Hotel
668,Malpe,IN,75.20,fog,13.3500,74.7167,Hotel Sri Krishna Residency
672,Gawler,AU,84.99,light rain,-34.6000,138.7333,Eagle Foundry Bed & Breakfast
673,Bandarbeyla,SO,74.23,overcast clouds,9.4942,50.8122,JABIR HOTEL

In [33]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

In [34]:
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

In [37]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [39]:
#11a-b, Create a marker layer map that will have pop-up markers for each city on the map.

locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))